/* h1{
    color:red;
}
h2{
    color:purple;
}
p{
    color:brown;
}
button{
    color:orange;
    background-color:rgb(255,255,0);
}
body{
    background-color:#d7d6d6;
} */
 /* #box{
    background-color:blue;
    color:white;
 }
 .heading{
    color:red;
 }
 button{
    background-color:green;
 } */
  /* p{
    text-align:right;
    text-decoration: red underline;
  }
  h1{
    text-align:center; */
    /* text-decoration:overline; */
    /* text-decoration:underline overline; */
    /* text-decoration:line-through; */
  /* } */
/* #h1{
   font-weight:normal;
}
#h2{
   font-weight:bold;
}
#h3{
   font-weight:bolder;
}
#h4{
   font-weight:lighter;
} */
/* #one{
   font-family:arial;
} */
/* #one{
   font-family:roboto,arial;
} */
 /* #one{
   font-size:25px;
 }
 #two{
   font-size:10px;
 } */
  /* #one{ */
   /* line-height:50px; */
   /* text-transform:uppercase; */
   /* text-transform:lowercase; */
   /* text-transform:capitalize; */
  /* } */
  /* h1{
   text-align:center;
   text-transform:capitalize;
  }
  *{
   font-family:'Times New Roman', Times, serif;
  }
  #outer{
   font-size:25px;
  }
  #inner{
   font-size:10px;
  } */
   /* div{ */
      /* height:100px; */
      /* background-color:pink; */
      /* width:200px; */
      /* border-width:2px;
      border-style:solid;
      border-color:blue; */
      /* border:2px solid blue; */
      /* border-radius:10px; */
      /* border-radius:50%; */
      /* padding-left:25px; */
      /* padding-right:25px; */
      /* padding-top:25px; */
      /* padding-bottom:25px; */
      /* padding:1px 2px 3px 4px; */
      /* padding:25px; */
      /* margin-top:50px;
      margin-bottom:50px;
      margin-left:50px;
      margin-right:50px; */
      /* margin:50px; */
      /* margin:1px 2px 3px 4px; */
   /* } */
   /* *{
      padding:0;
      margin:0;
      color:white;
   }
   #navbar{ */
      /* height:100px;
      width:100px; */
      /* height:60px;
      background-color:#0f1111;
      
   }
   button{
      background-color:#f08804;
   }
 #logo{
   color:#f08804;
   font-size:25px;
 }
 a{
   margin-right:100px;
   text-decoration:none;
 } */
  /* div{
   background-color: pink;
   display:inline;
  }
  button{
   display:block;
  }
   */
   /* #one{
      width:100px;
      height:100px;
      background-color:blue;
      margin:25px;
      padding:25px;
      display:inline-block;
   } */
   /* #two{
      width:100px;
      height:100px;
      background-color:green;
       margin:25px;
      padding:25px;
      display:inline-block;
   } */
   /* #three{
      width:100px;
      height:100px;
      background-color:rgba(255,0,0,0.5);
       margin:25px;
      padding:25px;
      display:inline-block;
   } */
    /* #three{
      display:none;
    } */
     /* #two{
      visibility:hidden;
     } */
      /* .contentBox{
   width:100px;
   height:100px;
   border:2px solid blue;
   display:inline-block;
      }
       */
       /* #box1{
         height:100px;
         width:100px;
         background-color:blue;
         font-size:10px;
       }
       #box2{
         height:50px; */
         /* width:50px; */
         /* width:30%;
         background-color:green;
         font-size:2em;
         /* width:5rem; */
         /* height:50vh; */
          /* width:5vw; */
       /* } */ 
       /* div{
         height:100px;
         width:100px;
         position:fixed;
         background-image:url('image.png');
         right:0px;
         background-size:cover;
       } */
        /* div{
         height:100px;
         width:100px;
         background-color:blue;
        }
        @media(width:600px){
         div{
            background-color:green;
         }
        } */
         div{
         height:100px;
         width:100px;
         background-color:blue;
         border:2px solid black;
         /* transition-property:all;
         transition-duration:2s; */
         transition:all 2s ease-in 1s;
         }
         div:hover{
            background-color:green;
            color:white;
         }
         div:active{
            background-color:yellow;
            color:black;
         }