/* h1{
    color:red;
}
h2{
    color:purple;
}
p{
    color:brown;
}
button{
    color:orange;
    background-color:rgb(255,255,0);
}
body{
    background-color:#d7d6d6;
} */
 /* #box{
    background-color:blue;
    color:white;
 }
 .heading{
    color:red;
 }
 button{
    background-color:green;
 } */
  /* p{
    text-align:right;
    text-decoration: red underline;
  }
  h1{
    text-align:center; */
    /* text-decoration:overline; */
    /* text-decoration:underline overline; */
    /* text-decoration:line-through; */
  /* } */
#h1{
   font-weight:normal;
}
#h2{
   font-weight:bold;
}
#h3{
   font-weight:bolder;
}
#h4{
   font-weight:lighter;
}
/* #one{
   font-family:arial;
} */
#one{
   font-family:roboto,arial;
}